.logo{

    position: relative;
    display: block;
    width: 200px;
    height: 90px;
    size: 150px;;

}


.article-image{
    background-color:#4EA0FF ;
    background-size:contain;
    background-image: url(../img/pattern.png);
    height: 120px;
    width: 100%;
}

.monitor{

    text-align: left;
}
